<body>

<h1>Now Playing</h1>

  <% @auditoriums.each do |auditorium| %>

    <h3> <%= auditorium.space_name %> </h3>

      <% auditorium.movies.each do |movie| %>
        <ul>
          <li><%= movie.title %></li>
          <li><a href="/new_purchase/<%= movie.id %>"><b><%= movie.show_time %></b></a></li>
           <li>Remaining tickets: <%= auditorium.capacity %></li>
        </ul>
      <% end %>

  <% end %>

</body>