<div id="main_content">

            <div class="jumbotron" style="background-color: black;">
              <h1 class="display-4">Movie Theater</h1>
              <p class="lead">Buy your tickets here</p>
              <hr class="my-4">
              <p>Showtimes are posted daily. Please click the show time to purchase your ticket.</p>
            </div>

            <div class="container">
                  <h1><b>Now Playing</b></h1>
                 <h2><%= Date.today.strftime("%A")%> <%= Date.today.strftime("%B") %> <%= Date.today.day %>, <%= Date.today.year %></h2>
            </div>

      <div id="movie-listings" class="container">
                  <% if @movies %>
                      <% @movies.each do |movie| %>
                         <div id="movie-listing" class="card mb-3" style="max-height:auto;">
                            <div class="row no-gutters">

                              <div class="col-sm-4">
                                <img src=<%= movie[:image_url]%> class="card-img" alt="movie_image">
                              </div>

                              <div class="col-sm-8">
                                <div class="card-body">
                                  <h5 class="card-title"><a href="/movies/<%= movie.id %>"><%= movie[:title] %></a></h5>
                                
                                  <p class="card-text"><%= movie[:rating] %></p>
                                  <p class="card-text"><%= movie[:run_time] %></p>
                                  <p class="card-text"><%= movie[:genre] %></p>
                                  <p class="card-text"><%= movie[:actors] %></p>

                                  <div id="showtimes">                        
                                       <% movie.showtimes.sort_by{|s|s.time}.each do |showtime| %>
                                            <% if showtime.available_tickets > 0 %>
                                               <button type="button" class="btn btn-secondary"><a href="/new_purchase/<%= showtime.id %>" style="color: white;"><%= showtime.time %></a></button>
                                            <% else %>
                                               <button type="button" class="btn btn-secondary" disabled>SOLD OUT</button>
                                            <% end %> 
                                       <% end %>
                                 </div>

                              </div>
                           </div>
                          </div>
                        </div>

                    <% end %>

                <% else %>
                  <h3>No results found</h3>
                <% end %>

          </div>
</div>

