<h1>Now Playing</h1>

<a href="/admin_dashboard">Admin dashboard</a><br>

<%= Date.today.strftime("%A")%> <%= Date.today.strftime("%B") %> <%= Date.today.day %>, <%= Date.today.year %>

  <% @auditoriums.each do |auditorium| %>

    <h3> <%= auditorium.space_name %> </h3>

      <% auditorium.movies.each do |movie| %>
        <ul>
          <li><%= movie.title %></li>

          <% if auditorium.capacity - movie.tickets.count == 0 %>
            <b>SOLD OUT</b>
          <% else %>
            <li><a href="/new_purchase/<%= movie.id %>"><b><%= movie.show_time %></b></a></li>
          <% end %>
           <li>Remaining tickets: <%= auditorium.capacity - movie.tickets.count %></li>
        </ul>
      <% end %>

  <% end %>