  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Glassman Theaters</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin_dashboard">Admin Dashboard</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" id="main_content">

<div class="jumbotron">
  <h1 class="display-4">Welcome to Glassman Theaters!</h1>
  <p class="lead">Buy your tickets here</p>
  <hr class="my-4">
  <p>Showtimes are posted daily. Please click the show time to purchase your ticket.</p>
</div>

<a href="/admin_dashboard">Admin Dashboard</a>

 <h1><b>Now Playing</b></h1>

 <h2><%= Date.today.strftime("%A")%> <%= Date.today.strftime("%B") %> <%= Date.today.day %>, <%= Date.today.year %></h2>

  <% @auditoriums.each do |auditorium| %>

    <div class="section_header"><h2> <%= auditorium.space_name %> </h2></div>

      <% auditorium.movies.each do |movie| %>

        <ul>

          <li><b><%= movie.title %></b> | 

          <% if movie.available_tickets == 0 %>
            <b>SOLD OUT</b>
          <% else %>
            <a href="/new_purchase/<%= movie.id %>"><b><%= movie.show_time %></b></a> | Remaining tickets: <%= movie.available_tickets %></li>
          <% end %>
           
           
        </ul>

      <% end %>

  <% end %>

</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>