  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Glassman Theaters</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin_dashboard">Admin Dashboard</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">

  <h1>Create a new movie:</h1>

         <% if @errors.length > 0 %>
          <% @errors.each do |error| %>
          <ul>
            <li><%= error %></li>
          </ul>
          <% end %>
        <% end %>

   <form action="/movie/create" method="post">

        <div class="form-group">
          <label for="title">Title:</label>
          <input name="title" class="form-control" id="title" aria-describedby="title" value="<%= params[:title]%>">
        </div>

         <div class="form-group">
          <label for="show_time">Show Time:</label>
          <input name="show_time" class="form-control" id="show_time" aria-describedby="show_time" value="<%= params[:show_time]%>">
        </div>

        <div class="form-group">
          <label for="auditorium_id">Location:</label>

          <select class="selectpicker" name="space_name" value="<%= params[:auditorium_id]%>">
            <% @auditoriums.each do |auditorium| %>
              <option name="space_name"><%= auditorium.space_name %></option>
            <% end %>
          </select>

        <button type="submit" class="btn btn-primary">Create new movie</button>

    </form>

</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>