  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Glassman Theaters</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin_dashboard">Admin Dashboard</a>
      </li>
    </ul>
  </div>
</nav>

  <div class="container">

<h1>Purchase your ticket for: <%= @movie.title %> </h1>

<h2>Time: <%= @movie.show_time %></h2>

<h2>Date:</h2>

<h2>Location: <%= @auditorium %> 

       <% if @errors.length > 0 %>
          <% @errors.each do |error| %>
          <ul>
            <li><%= error %></li>
          </ul>
          <% end %>
        <% end %>

    <form action="/new_purchase/create" method="post">

        <div class="form-group">
          <label for="customer_name">Name</label>
          <input name="customer_name" class="form-control" id="customer_name" aria-describedby="name" placeholder="Name" value="<%= params[:customer_name]%>">
        </div>

         <div class="form-group">
          <label for="customer_email">Email</label>
          <input name="customer_email" class="form-control" id="customer_email" aria-describedby="customer_email" placeholder="jon@example.com"value="<%= params[:customer_email]%>">
            <small id="email_help" class="form-text text-muted">ex: "jon@email.com"</small>
        </div>

         <div class="form-group">
          <label for="cc_number">Card Number</label>
          <input name="cc_number" class="form-control" id="cc_number" aria-describedby="cc_number" placeholder="Card Number" value="<%= params[:cc_number]%>">
            <small id="cc_number_help" class="form-text text-muted">format: 1111222233334444 must be 16 digits</small>
        </div>

         <div class="form-group">
          <label for="cc_exp">Card Expiration</label>
          <input name="cc_exp" class="form-control" id="cc_exp" aria-describedby="cc_exp" placeholder="mm/yyyy" value="<%= params[:cc_exp]%>">
           <small id="cc_exp_help" class="form-text text-muted">mm/yyyy</small>
        </div>

        <div class="form-group">
         <input type="hidden" id="movie_id" name="movie_id" value="<%= @movie.id %>">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>