<div class="container">

  <div class="container">

       <div class="card mb-3" style="width: 100%;">
              <div class="row no-gutters">

                <div class="col-sm-4">
                  <img src=<%= @showtime.movie.image_url %> class="card-img" alt="movie_image">
                </div>
                
                <div class="col-sm-8">
                  <div class="card-body">
                    <h5 class="card-title"><%= @showtime.movie.title %></h5>
                    <p class="card-text"><b>Time:</b> <%= @showtime.time %></p>
                    <p class="card-text"><b>Date:</b> <%= @showtime.date %></p>
                    <p class="card-text"><b>Location:</b><%= @showtime.auditorium.space_name %></p>
                </div>
              </div>
      </div>
</div>

</div>

    <form action="/new_purchase/create" method="post">

        <div class="form-group">
          <label for="customer_name">Name</label>
          <input 
          name="customer_name" class="form-control" id="customer_name" aria-describedby="name" placeholder="Name" value="<%= params[:customer_name]%>">
        </div>

         <div class="form-group">
          <label for="customer_email">Email</label>
          <input 
              name="customer_email" 
              class="form-control" 
              id="customer_email" 
              aria-describedby="customer_email" 
              placeholder="jon@example.com"
              value="<%= params[:customer_email]%>"
              >

            <small id="email_help" class="form-text text-muted">ex: "jon@email.com"</small>
        </div>

         <div class="form-group">
          <label for="cc_number">Card Number</label>
          <input 
              name="cc_number" 
              class="form-control" 
              id="cc_number" 
              aria-describedby="cc_number" 
              placeholder="Card Number" 
              value="<%= params[:cc_number]%>"
              >

            <small id="cc_number_help" class="form-text text-muted">format: 1111222233334444 must be 16 digits</small>
        </div>

         <div class="form-group">
          <label for="cc_exp">Card Expiration</label>
          <input 
              name="cc_exp" 
              class="form-control" 
              id="cc_exp" 
              aria-describedby="cc_exp" 
              placeholder="mm/yyyy" 
              value="<%= params[:cc_exp]%>"
              >
              
           <small id="cc_exp_help" class="form-text text-muted">mm/yyyy</small>
        </div>

        <div class="form-group">
         <input type="hidden" id="showtime_id" name="showtime_id" value="<%= @showtime.id %>">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</div>