<div class="container" id="dashboard">

<h1>Admin Dashboard</h1>

<br>

  <div class="row">

    <div class="col-sm-4"><button class="btn btn-primary"><a href="/auditorium/new" style="color: white;">Create a new auditorium</a></button><br></div>

    <div class="col-sm-4"><button class="btn btn-primary"><a href="/movie/new" style="color: white;">Create a new movie</a></button></div>

    <div class="col-sm-4"><button class="btn btn-primary"><a href="/showtime/new" style="color: white;">Create a showtime</a></button></div>

  </div>
  <br>


  <div class="container">

      <h3>My Auditoriums:</h3>
        <ul>
          <% @auditoriums.each do |auditorium| %>
          <li><%= auditorium.space_name %> | Capacity: <%= auditorium.capacity %> | <a href="/auditorium/edit/<%= auditorium.id %>">Edit</a></li>
          <% end %>
        </ul>

      <h3>My Movies:</h3>
        <ul>
          <% @movies.each do |movie| %>
          <li><%= movie.title %> | <a href="/movie/edit/<%= movie.id %>">Update</a></li>
          <% end %>
        </ul>

      <h3>My Showtimes:</h3>
        <ul>
          <% @showtimes.each do |showtime| %>
          <li><%= showtime.movie.title %> | <%= showtime.time %> | <a href="/showtime/edit/<%= showtime.id %>">Edit</a></li>
          <% end %>
        </ul>

  </div>
  <br>
  <br>

<div class="container">
    <h2>View all ticket sales:</h2>

    Search: <input id="search_bar" type="text">  

    <div>
      <ul>
        <% @purchases.each do |purchase| %>
          <li class="searchable"><%= purchase.customer_name %> | <%= purchase.ticket.showtime.time %> | <%= purchase.ticket.showtime.movie.title %> | <%= purchase.created_at %></li>
        <% end %>
      </ul>
    </div>

</div>

</div>
